---
import Layout from "@/layouts/Layout.astro";
import TimetableWinter from "@/components/TimetableWinter.astro";
import TimetableSummer from "@/components/TimetableSummer.astro";
import WinterGallary from '@/components/WinterGallary.astro';
import SummerGallary from '@/components/SummerGallary.astro';
import { getConcert, getConcertDetail } from "../lib/microcms";

// params 取得
const { concertId } = Astro.params;

// concertId が undefined の場合は空オブジェクトで fallback
const concert = concertId ? await getConcertDetail(concertId) : {};
const response = await getConcert({
  fields: [
    "id", "year",
    "wintertopimage", "winterplace", "winterdate", "winterintroduction",
    "summertopimage", "summerplace", "summerdate", "summerintroduction"
  ]
});

const title = "早稲田大学アンサンブル・リドール concertページ";
---

<Layout title={title}>
  <main>
    {
      response.contents.slice(0, 1).map((concertItem: any) => (
        <>
          {/* Summer Concert Section */}
          <div class="summer_concert__header">
            <div class="summer_concert__header_detail_summer">
              <div class="summer_concert__header_title">
                <h2>Summer Concert</h2>
                <p>夏コンサート</p>
              </div>
              <div class="summer_concert__header_detail_about">
                <p class="summer_concert__header_detail_info">
                  無料入場・自由席<br />
                  チケット等の予約は必要ありません<br />
                  ご来場お待ちしています！
                </p>
                <p class="summer_concert__header_detail_where">{concertItem.summerplace}</p>
                <p class="summer_concert__header_detail_date">{concertItem.summerdate}</p>
              </div>
            </div>
            <div class="summer_concert__header_image">
              <img src={concertItem.summertopimage?.url} alt="concertのheader内の写真" />
            </div>
          </div>

          <div class="summer_concert__l-container">
            <div class="summer_concert__introduction">
              <h1>Introduction</h1>
              <div class="summer_concert__introduction-container">
                <p>{concertItem.summerintroduction}</p>
              </div>
            </div>
          </div>

          <SummerGallary />

          {/* Winter Concert Section */}
          <div class="winter_concert__header">
            <div class="winter_concert__header_detail">
              <div class="winter_concert__header_title">
                <h2>Winter Concert</h2>
                <p>冬リサイタル</p>
              </div>
              <div class="winter_concert__header_detail_about">
                <p class="winter_concert__header_detail_info">
                  無料入場・自由席<br />
                  チケット等の予約は必要ありません<br />
                  ご来場お待ちしています！
                </p>
                <p class="winter_concert__header_detail_where">{concertItem.winterplace}</p>
                <p class="winter_concert__header_detail_date">{concertItem.winterdate}</p>
              </div>
            </div>
            <div class="winter_concert__header_image">
              <img src={concertItem.wintertopimage?.url} alt="concertのheader内の写真" />
            </div>
          </div>

          <div class="winter_concert__l-container">
            <div class="winter_concert__introduction">
              <h1>Introduction</h1>
              <div class="winter_concert__introduction-container">
                <p>{concertItem.winterintroduction}</p>
              </div>
            </div>
          </div>

          <WinterGallary />
        </>
      ))
    }
  </main>
</Layout>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=MonteCarlo&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap" rel="stylesheet">
